body {
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    22deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed;
}
footer {
  text-align: center;
  margin: 3rem;
}

label,
button {
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
  padding: 0;
  margin: 0, 2rem;
}

input[type='text'] {
  font-size: 1.2rem;
}

table {
  margin-top: 2rem;
}
td,
th {
  padding: 0.3rem;
  font-size: 1.2rem;
}

th {
  height: 3rem;
  background-color: #333;
  vertical-align: middle;
}

table thead th {
  color: white;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:last-child {
  border-bottom: 1px solid #333;
}

h1,
h2,
h3,
th,
p {
  color: #333;
  font-weight: bold;
  margin: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 2rem;
  text-align: left;
  font-size: 1.2rem;
}

p,
li {
  text-align: left;
  font-size: 1rem;
  margin: 1rem;
  list-style: inside;
}

#container {
  text-align: center;
  width: 45rem;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #ccc;
  background-color: white;
}

#newTaskForm {
  width: 100%;
  border: 1px solid #ccc;
}

#myNewTask {
  padding: 1rem;
}

#instructions {
  margin-top: 2rem;
  background-color: #f2f2f2;
  text-align: left;
  padding: 1rem;
}
.taskDescription {
  width: 60%;
  text-align: left;
}

.taskStatus {
  width: 35%;
}

.taskDelete {
  /* nessun definizione al momento */
}

.taskCompleted {
  text-decoration: line-through;
}
